
 <div class="row centrado justify-content-center">
    <h1 class="titulo">tabla pipes</h1>
    <div class="col-md-9">
    <table class="table table-striped tablaporcentaje">
        <thead>
          <tr>
            <th scope="col">variable</th>
            <th scope="col">pipe</th>
            <th scope="col">resultado</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >{{nombre}}</td>
            <td>upperCase</td>
            <td>{{nombre | uppercase}}</td>
            
          </tr>
          <tr>
            <td >{{nombre}}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
            
          </tr>
          <tr>
            <td >{{nombre}}</td>
            <td>slice</td>
            <td>{{nombre | slice:2}}</td>
            
          </tr>
          <tr>
            <td >{{pi}}</td>
            <td>number</td>
            <td>{{pi | number :"1.2-2"}}</td>
            
          </tr>
          <tr>
            <td >{{pi}}</td>
            <td>number</td>
            <td>{{pi | number :"2.0-3"}}</td>
            
          </tr>

          <tr>
            <td >{{porcentaje}}</td>
            <td>porcentaje</td>
            <td>{{porcentaje | percent}}</td>
            
          </tr>
          <tr>
            <td >{{salario}}</td>
            <td>currency</td>
            <td>{{salario | currency}}</td>
            
          </tr>
          <tr>
            <td >{{salario}}</td>
            <td>currency EURO</td>
            <td>{{salario | currency: "EUR"}}</td>
            
          </tr>
          <tr>
            <td >{{fecha}}</td>
            <td>date</td>
            <td>{{fecha | date}}</td>
            
          </tr>
          <tr>
            <td >{{fecha}}</td>
            <td>date short</td>
            <td>{{fecha | date: "short"}}</td>
            
          </tr>
          <tr>
            <td >{{fecha}}</td>
            <td>date short</td>
            <td>{{fecha | date: "yyyy-MM-dd"}}</td>
            
          </tr>
          <tr>
            <td>{{ nombre }}</td>
            <td>mi pipe mayuscula</td>
            <td>{{ nombre | mayuscula }}</td>
          </tr>
          <tr>
            <td>{{ nombre }}</td>
            <td>capitalizar 1 </td>
            <td>{{ nombre | capitalizar:1 }}</td>
          </tr>
          <tr>
            <td>{{ nombre }}</td>
            <td>capitalizar 2 </td>
            <td>{{ nombre | capitalizar:2 }}</td>
          </tr>
          <tr>
            <td>{{ nombre }}</td>
            <td>capitalizar 3 </td>
            <td>{{ nombre | capitalizar:3 }}</td>
          </tr>
          <tr>
            <td>{{ nombre }}</td>
            <td>capitalizar 4 </td>
            <td>{{ nombre | capitalizar:4}}</td>
          </tr>
          <tr><td>{{ nombre }}</td>
            <td>boton</td>
            <td><button class="btn btn-info"(click)="generarAlerta()">Alerta</button>
            <select class="form-control" (change)="generarAlerta()">
              <option>Seleccione</option>
              <option>opt1</option>
              <option>opt2</option>
              <option>opt3</option>
            </select>
            </td></tr>
            <tr>
              <td>{{ nombre }}</td>
              <td><button [class]="claseBoton"(click)="valorContrasena()">{{nombreBoton}}</button> </td>
              <td>{{  nombre | capitalizar:3  | cambiarContrasena:verContrasena}} </td>
            </tr>
            <tr>
              <td>{{ valorPromesa }}</td>
              <td>cpromesas paid async</td>
              <td>{{ valorPromesa | async}}</td>
            </tr>
            <tr>
              <td>{{ heroe }}</td>
              <td>mostrar arreglo </td>
              <td>
                <pre>
                {{ heroe |json}}
             </pre> </td>
            </tr>
        </tbody>
      </table>
    </div>
 </div>