
  
 
 <div class="divcontenedor">

    <fieldset class="clasefieldset">
      
      <div class="col"  >
        <div class="card"  >
          <img src="{{ heroe.imagen  }}" class="card-img-top" alt="...">
      
          <div class="card-body">
            <h3 class="card-title">{{ heroe.nombre  }}</h3>
            <hr>
            <p class="card-text">{{ heroe.descripcion}}</p>
            <hr>
            <div class="form-group text-success">
                <label   for="Nombre">Poder</label>
            </div>
            <p class="card-text">{{ heroe.poder}}</p>
            <hr>
            <div class="form-group text-success">
              <label   for="Nombre">Casa Editorial</label>
          </div>
            <p class="card-text"> {{ heroe.casaEditorial}}</p>
            <hr>
         
            
    
        
        </div>
         
      </div>
    
    </div>
  </fieldset>
  </div>
 
  <span>
   <!--<pre> Nombre : {{ getError("nombre") | json }}</pre>--> 
  </span>
  