.divcontenedor{
 
margin-right: 0 !important;
margin-left: 0 !important;
border-width: 0.2rem !important;
padding: 1.5rem !important;
margin-right: 5% !important;
margin-left: 5% !important;
border: solid #f7f7f9;
 }

 