<h1>Listado de Heroes</h1>
<div class="divcontenedor">
   

      <div class="row row-cols-1 row-cols-md-4 g-4"  >

          <div class="col" *ngFor="let heroes of heroesLista">
            <div class="card">
              <img src="{{ heroes.imagen }}"  class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">{{ heroes.nombre }}</h3>
                <p class="card-text">{{ heroes.descripcion}}</p>
              </div>
              <hr>
              <div class="card-body">
                <h5 class="card-title">Poder</h5>
                <p class="card-text">{{ heroes.poder}}</p>
              </div>
            </div>

          </div>

      </div>
      
  </div>
 