<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLinkActive="active"
            [routerLink]="['login']"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['pipes']"
            >Ejemplos pipes</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['form/ngmodel']"
          >
            Formulario ngModel
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['form/reactivo']"
          >
            Formulario Reactivo
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['heroe/heroesC']"
          >
            Heroes
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['heroe/heroeC']"
          >
            Heroe
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['heroe/heroeTarjeta']"
          >
          Heroe Tarjeta
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['heroe/buscadorC']"
          >
            Buscar
          </a>
        </li>
      </ul>

      <span>{{ persona.nombre }}</span>
      <span>{{ persona.count }}</span>

      <button class="btn btn-outline-success" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>


