<div class="divcontenedor">
   

    <div class="row row-cols-1 row-cols-md-4 g-4"  >

        <div class="col" *ngFor="let heroes of heroesLista">
          <div class="card"  >
            <img src="{{ heroes.imagen  }}" class="card-img-top" alt="...">
        
            <div class="card-body">
              <h3 class="card-title">{{ heroes.nombre  }}</h3>
              <hr>
              <p class="card-text">{{ heroes.descripcion.length <=50?heroes.descripcion:heroes.descripcion.substring(0,100)+'...'}}</p>
              <hr>
              <div class="form-group text-success">
                  <label   for="Nombre">Poder</label>
              </div>
              <p class="card-text">{{ heroes.poder.length <=50?heroes.poder:heroes.poder.substring(0,50)+'...'}}</p>
              <hr>
              <div class="form-group text-success">
                <label   for="Nombre">Casa Editorial</label>
            </div>
              <p class="card-text"> {{ heroes.casaEditorial}}</p>
              <hr>
           
              <a  (click)="verHeroe(heroes.nombre)" class="btn btn-primary">Editar</a>    
              <a  (click)="redireccionar(heroes.id)" class="btn btn-primary">Ver Heroe</a>
              <div class="btn-wrapper text-center d-flex justify-content-between">
            </div>
          
          </div>
           
        </div>

    </div>
    
</div>
 
  