fieldset.clasefieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    background-color: #E6F8FF !important;;
    border: 1px solid #aed0ea !important;
    border-radius: 6px !important;
}
legend.claselegend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    float: none!important;
}
 

 
/*input, textarea ,select
{
    background-color: #E8F3F9;
}*/
 label {
    font-weight:400;
 }

 input.ng-invalid {
    background-color:pink;
}
 
.error{
    color:red;
}
select.ng-invalid {
    background-color:pink;
}